.upperComponent{
    display: flex;
    /* flex-direction: row; */
}
.loader {
    border: 2px solid grey; /* Light grey */
    border-top: 2px dotted black; /* Blue */
    border-right: 2px dotted black; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    margin-left: 40px;
    margin-top: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading-text{
      margin-top: 5px;
      margin-left: 6px;
  }